@model IEnumerable<Portfolio.Models.Post>

@{
    ViewData["Title"] = "Posts";
}

<section class="parallax-block">
    <div class="row justify-content-center">
        <h2>The Posts Page</h2>
        <div class="content">
            <p>This page is hooked up to a database with simple Create, Read, Update and Delete actions.</p>
            <p>Click on a title to view the contents single post.</p>
            <p>
                <a class="btn btn-success float-right" data-bs-target="#createPostModal" data-bs-toggle="modal">Add New Post</a>
                @await Html.PartialAsync("_CreatePartial", new Portfolio.Models.Post());
            </p>
        </div>
        <div class="container post-table custom-smaller-div">
            <div class="row table-header bg-dark">
                <div class="col col1">
                    @Html.DisplayNameFor(model => model.Id)
                </div>
                <div class="col col2">
                    @Html.DisplayNameFor(model => model.Title)
                </div>
                <div class="col col3">
                    @Html.DisplayNameFor(model => model.Content)
                </div>
                <div class="col col4">
                </div>
            </div>
            <div class="table-content">
                @foreach (var item in Model)
                {
                    <div class="row table-row">
                        <div class="col col1">
                            @Html.DisplayFor(modelItem => item.Id)
                        </div>
                        <div class="col col2">
                            @Html.DisplayFor(modelItem => item.Title)
                        </div>
                        <div class="col col3">
                            @Html.DisplayFor(modelItem => item.Content)
                        </div>
                        <div class="col col4">
                            <a class="btn btn-secondary btn-xs" data-bs-target="@("#editPostModal-" + item.Id)" data-bs-toggle="modal" data-url="@Url.Action($"Edit/{item.Id}")">Edit</a>
                            @await Html.PartialAsync("_EditPartial", item)

                            <a class="btn btn-warning btn-xs" data-bs-target="@("#detailsPostModal-" + item.Id)" data-bs-toggle="modal" data-url="@Url.Action($"Details/{item.Id}")">Details</a>
                            @await Html.PartialAsync("_DetailsPartial", item)

                            <a class="btn btn-danger btn-xs" data-bs-target="@("#deletePostModal-" + item.Id)" data-bs-toggle="modal" data-url="@Url.Action($"Delete/{item.Id}")">Delete</a>
                            @await Html.PartialAsync("_DeletePartial", item)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>